{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div style="width: 25%">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-md btn-primary" type="submit">
        Sign in
    </button>
    <a class="btn btn-md btn-primary" href="{{ path('app_register') }}">Register</a>
</form>
    <a
            href="{{ path('hwi_oauth_service_redirect', {'service': 'auth0'}) }}"
            style="color: #fff;"
    >
        <div class="card mb-3" style="background-color: #e8542e">
            <div class="card-body" style="padding: 0;">
                <img src="https://i.imgur.com/02VeCz0.png" height="40" />
                Connect with Auth0
            </div>
        </div>
    </a>
    </div>
{% endblock %}
