{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class=" row">
    <div class="col align-self-center">
        {% if app.user %}
            Bienvenue {{ app.user.name }}
            <a href="{{ path('app_logout') }}">Disconnect</a>
        {% else %}
            No User is logged in
            <a href="{{ path('app_login') }}">Connect</a>
        {% endif %}
    </div>

</div>
{% endblock %}
